<header class="w3-container w3-blue-grey">
    <h6>Nina App</h6>
</header>
<div class="w3-container">


    <img style="max-width: 100%;" src="assets/img/ninaLogo.jpg" class="w3-padding" alt="Alps">

    <div class="w3-card-4">

        <br />
        <br />

        <div class="w3-container">
            <p class="w3-center">Bienvenido a Nina</p>
            <p class="w3-center">Pronto un administrador revisara tu solicitúd de registro</p>
        </div>
        <br />
        <br />
    </div>

</div>